.header {
  display: flex;
  max-width: 1448px;
  margin-inline: auto;
  padding-block: 2rem;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    gap: 2rem;
  }
}

.header h1 {
  /* Character step gradient works only on mono fonts */
  /* Other fonts require magic numbering */
  --g: linear-gradient(
    to right,
    skyblue 1ch,
    teal 1ch,
    teal 2ch,
    gold 2ch,
    gold 3ch,
    orange 3ch,
    orange 4ch,
    orangered 4ch,
    orangered 5ch,
    purple 5ch,
    purple 6ch,
    indigo 6ch
  );

  font-family: monospace;
  font-size: 4rem;
  background-image: var(--g);
  color: transparent;
  background-clip: text;
  position: relative;
  z-index: 1;

  &::selection {
    background-color: transparent;
    color: antiquewhite;
  }

  &::after {
    content: 'Colors!';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--g);
    background-clip: text;
    filter: blur(7px) saturate(2);
    left: 0;
    z-index: -1;
  }
}
